<div>
 <span> <img src="/assets/Accolite_Logo_Grey.jpg" width="300" height="100" style="margin-right : 100px"></span>
 <span class="text-center" style="font-size:35px">Accolite Opportunity Management Portal</span>
</div>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="opportunities" routerLinkActive="active" class="nav-link">View Opportunities</a>
    </li>
    <li>
      <a routerLink="add-opportunities" routerLinkActive="active" class="nav-link">Add Opportunities</a>
    </li>
    <li>
      <a routerLink="search" routerLinkActive="active" class="nav-link">Search Opportunities</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Developed by Abhijeet Chavan As AU Project</span>
  </div>
</footer>
