<!--<div>-->
 <!--<span> <img src="/assets/accolite_logo_grey.jpg" width="300" height="100" style="margin-right : 100px"></span>-->
 <!--<span class="text-center" style="font-size:35px">accolite opportunity management portal</span>
</div>-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <span class="nav-item"> <img src="/assets/download.jpg" width="70" height="70" style="margin-right : 100px"></span>
  <ul class="navbar-nav">
    <li class="nav-item" style="margin-right: 10px">
      <b>
        <a routerLink="opportunities" routerLinkActive="active" class="nav-link">Check Opportunities</a>
      </b>
    </li>
    <li class="nav-item" style="margin-right: 10px">
      <b><a routerLink="add-opportunities" routerLinkActive="active" class="nav-link">Add Opportunities</a></b>
    </li>
    <li class="nav-item" style="margin-right: 10px">
      <b><a routerLink="search" routerLinkActive="active" class="nav-link">Search Opportunities</a></b>
    </li>
    <li class="nav-item" style="margin-right: 10px">
      <b><a routerLink="summary" routerLinkActive="active" class="nav-link">Summary</a></b>
    </li>
    <li class="nav-item" style="margin-right: 10px">
      <b>
        <a routerLink="allopportunities" routerLinkActive="active" class="nav-link">All Opportunities</a>
      </b>
    </li>
    <li class="nav-item" style="margin-right: 10px">
      <b><a (click)="signOut()" routerLinkActive="active" class="nav-link">Signout</a></b>
    </li>
  </ul>
</nav>
<div class="text-center">
  <!--<span> <img src="/assets/Accolite_Logo_Grey.jpg" width="300" height="100" style="margin-right : 100px"></span>-->
  <b><span class="text-center" style="font-size:25px">Accolite Opportunity Management Portal</span></b>
  <br><br>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Developed by Abhijeet Chavan : AU Project</span>
  </div>
</footer>
