<!--<div>-->
 <!--<span> <img src="/assets/accolite_logo_grey.jpg" width="300" height="100" style="margin-right : 100px"></span>-->
 <!--<span class="text-center" style="font-size:35px">accolite opportunity management portal</span>
</div>-->
<style>
  .navbar-custom {
    background-color: #0E1C3A;
  }

  .navbar-item {
    font-size:small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 60px;
  }
</style>
<nav class="navbar navbar-expand-sm navbar-custom navbar-dark" style="column-rule-color:midnightblue">
  <a routerLink="search" routerLinkActive="active"class="nav-link"> <img src="\assets\logo.png" width="280" height="60" style="margin-right : 50px"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="opportunities" routerLinkActive="active" class="nav-link navbar-item">CHECK</a>
    </li>
    <li class="nav-item">
      <a routerLink="add-opportunities" routerLinkActive="active" class="nav-link navbar-item">CREATE</a>
    </li>
    <li class="nav-item">
      <a routerLink="search" routerLinkActive="active" class="nav-link navbar-item">SEARCH</a>
    </li>
    <li class="nav-item">
      <a routerLink="summary" routerLinkActive="active" class="nav-link navbar-item">SUMMARY</a>
    </li>
    <li class="nav-item">
      <a routerLink="allopportunities" routerLinkActive="active" class="nav-link navbar-item">VIEW_ALL</a>
    </li>
    <li class="nav-item">
      <a routerLink="audit" routerLinkActive="active" class="nav-link navbar-item">AUDIT</a>
    </li>
    <li class="nav-item">
      <a (click)="signOut()" routerLinkActive="active" class="nav-link navbar-item">SIGNOUT</a>
    </li>
  </ul>
</nav>
<div class="text-center">
  <!--<span> <img src="/assets/Accolite_Logo_Grey.jpg" width="300" height="100" style="margin-right : 100px"></span>-->
  <b><span class="text-center" style="font-size:25px">Accolite Opportunity Management Portal</span></b>
  <br><br>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Developed by Abhijeet Chavan : AU Project</span>
  </div>
</footer>
