<h3>View Opportunity Details</h3>
<div>
  <div>
    <label> <b>Executive Director: </b>{{opportunity.hiringManager}}</label>
  </div>
  <div>
    <label> <b>Role: </b>{{opportunity.role}}</label>
  </div>
  <div>
    <label> <b>Skills: </b>{{opportunity.skills}}</label>
  </div>
  <div>
    <label> <b>joiningLocation: </b>{{opportunity.joiningLocation}}</label>
  </div>
  <div>
    <label> <b>Required Experience: </b>{{opportunity.experience}}</label>
  </div>
  <div>
    <label> <b>Application Closing Date: </b>{{opportunity.joiningDate}}</label>
  </div>
  <div>
    <label> <b>Application Opening Date: </b>{{opportunity.publishDate}}</label>
  </div>
  <div>
    <label> <b>Description: </b></label> <p style="width: 800px">{{opportunity.description}}<p>
  </div>
</div>

