<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<!-- Multidata Graph for Opportunities count vs Role vs Location -->
<div style="float:right;">
  <h6 style="font-size:x-small">Select Date Range</h6>
  <span>
    From
    <input type="date" id="start_year" [ngModel]="start_date | date:'yyyy-MM-dd'"
           (ngModelChange)="start_date = $event" style="margin-bottom:10px" />
  </span>
  <span>
    To
    <input type="date" id="end_year" [ngModel]="end_date | date:'yyyy-MM-dd'"
           (ngModelChange)="end_date = $event" style="margin-bottom:10px; margin-right:10px" />
  </span>
  <span><button class="btn btn-primary btn-xs" (click)="yearwisetrend()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button></span>
</div>
<br>
<br>
<br>
<h4> Opportunities Summary</h4>
<br>
<table>
  <tr>
    <td>
      <div *ngIf="summarrydata && summarrydata.length" class="col-md-24">
        <ngx-charts-bar-vertical-2d [view]="view"
                                    [scheme]="colorScheme"
                                    [results]="summarrydata"
                                    [gradient]="gradient"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [legend]="showLegend"
                                    [legendTitle]="'Domain'"
                                    [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="'Location:role'"
                                    [yAxisLabel]="'No of Opportunities'">
        </ngx-charts-bar-vertical-2d>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <br><br><br><br>

      <!-- Overview Graph of Opportunities -->
      <h4>location based overview of opportunities</h4>
      <div *ngIf="locationData && locationData.length" class="col-md-24">
        <ngx-charts-advanced-pie-chart [results]="locationData"
                                       [view]="view"
                                       [scheme]="colorScheme"
                                       [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
      </div>
    </td>
  </tr>
</table>
