/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.footer {
  position: relative;
  bottom: auto;
  width: 100%;
  margin-top: 100px;
  height: 30px;
  background-color: #0E1C3A;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-small;
  color: white;
}
